<div class="categoryPage">
	<%= content_tag :div, class:"title", style:"background-color:#{tag_color(0,@attractions.first)}" do %>
		<%= image_tag tag_icon_helper(@attractions.first) %>
		<%= content_tag :h1, get_tag(@attractions.first) %>
	<% end %>
	<%= content_tag :div, class:"swatches", style:"background-color:#{tag_color(0,@attractions.first)}" do %>
    <% @attractions.each_with_index do |attraction| %>
      <%= render 'attraction_swatch_template', :attraction => attraction %>
    <% end %>
	<% end %>
  <%= content_tag :div, class:"paragraph", style:"background-color:#{tag_color(0,@attractions.first)}" do %>
		<p><%= description_for_tag(get_tag(@attractions.first)) %></p>
	<% end %>
	<%= content_tag :section, class:"logo-slide", style:"background-color:#{tag_color(0,@attractions.first)}; color:white;" do %>
	  <%= link_to :root do %>
	    <%= image_tag "logo_white.svg" %>
	  <% end %>
	<% end %>
</div>
